@media (max-width: 1600px) {

	.accordion__content-list {
		margin: 0;
		column-count: 2;
	}

	.events__swiper-prev,
	.events__swiper-next {
		display: none;
	}

	.events__card-info {
		margin-bottom: 21px
	}

	.gallery__left {
		min-width: 30.3%;
	}

	.gallery__choices {
		margin-bottom: 106px
	}

	.events__swiper-pagination.swiper-pagination {
		display:  block;
	}

	.location__container {
		flex-direction: column;
	}

	.location__left {
		margin-bottom: 23px;
	}


	.location__form-btn {
		min-width: 343px;
		margin-top: 12px;
	}

	.location__center {
		margin-bottom: 46px
	}

	.about__descr {
		max-width: none;
	}

	.catalogue__descr {
		max-width: none;
	}

	.projects__descr {
		max-width: none;
	}

}

@media (max-width: 1200px) {

	.header__container {
		justify-content: space-between;
		padding-top: 28px;
		padding-bottom: 26px;
	}

	.header__logo {
		transform: translate(-3px, -1px);
		margin: 0;
	}

	.header__row {
		flex-direction: column;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background: rgb(0,0,0, .9);
		z-index: 1;
		padding: 77px 50px 51px 48px;
		/*transform: translateY(-101%);*/
		display: none;
	}

	.header__list {
		flex-direction: column;
		margin-bottom: 50px
	}

	.header__enter {
		margin-left: inherit;
	}

	.header__link {
		font-weight: 600;
		font-size: 24px;
		line-height: 64px;
	}

	.header__btn {
		border: 2px solid #9D5CD0;
		border-radius: 100px;
		width: 257px;
		height: 60px;
		align-items: center;
		justify-content: center;
	}

	.burger {
		display: block;
	}

	.header__neck {
		display: none;
	}

	.header__search {
		display: flex;
		align-items: center;
	}


	.header__wrapper {
		overflow-y: auto;
		flex-direction: column;
		align-items: flex-start;
	}


	.search-btn:hover svg rect,
	.search-btn:hover svg path	{
		fill: #9D5CD0;
		transition: all .3s ease;
	}

	.form-close {
		cursor: pointer;
		display: none;
		position: absolute;
		margin-left: 20px;
		transition: all 4s ease;
	}

	.form-close:hover svg rect {
		fill: #9D5CD0;
		transition: all .3s ease; ;
	}

	.tablet-form-input {
		position: absolute;	
		left: 100%;
		padding-left: 5px;
		margin-left: 5px;
		transition: all 10s ease;
	}

	.header__search-form {
		transition: all .5s ease;
	}

	.burger-close:hover svg rect {
		fill: #9D5CD0;
		transition: all .3s ease;
	}

	.burger:hover svg rect,
	.burger:hover svg path {
		fill: #9D5CD0;
		transition: all .3s ease;
	}

	.hero {
		padding-top: 111px
	}

	.hero__container {
		max-width: none;
	}

	.hero__title {
		margin-bottom: 10px
	}

	.hero__descr {
		max-width: 655px;
		margin-bottom: 134px
	}

	.hero__btn {
		margin-bottom: 114px
	}

	.choices__inner {
		padding: 6.5px 7.5px 3.75px;
	}

	.gallery {
		background: url('../img/gallery_1024.jpg');
    	padding-top: 80px;
    	padding-bottom: 79px;
	}

	.gallery__btn::after {
		background: url('../img/increase-1024..svg') no-repeat;
		width: 60px;
		height: 60px;
		left: 38%;
		top: 41%;
	}

	.catalogue__descr {
		margin-bottom: 39px
	}

	.accordion__list {
		width: 750px;
	}

	.empty-people {
		width: 90%;
	}

	.events {
		min-height: 0;
		margin-bottom: 91px
	}

	.swiper-events {
		padding-bottom: 30px;
	}

	.events__card-wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	.events__card-name,
	.events__card-date {
		max-width: none;
		font-weight: 400;
	}

	.events__card-date {
		margin-bottom: 4px
	}

	.events__card-pad {
		padding: 11px 34px;
    	padding-bottom: 48px;
	}

	.events__swiper-pagination.swiper-pagination {
	/*	bottom: -13px;
*/		left: 7px;
	}

	.events__card  {
		min-height: 0;
	}

	.events__card-img {
		width: 100%;
		margin-bottom: 0
	}

	.events__card-title {
		margin-bottom: 5px
	}

	.ev_crd-pad {
		margin-bottom: 8px
	}

	.events__card-info {
		min-height: 400px;
	}

	.projects__swiper-slide {
		height: 128px;
	}

	.partners__wrapper {
		padding: 0 54px;
	}

	.projects__swiper-slide-1 {
		background: url(../img/partners-1024-1.png);
	}

	.projects__swiper-slide-2 {
		background: url(../img/partners-1024-2.png);
	}

	.projects__swiper-slide-3 {
		background: url(../img/partners-1024-3.png);
	}

	.projects__swiper-slide-4 {
		background: url(../img/partners-1024-4.png);
	}

	.projects__swiper-slide-5 {
		background: url(../img/partners-1024-5.png);
	}

	.projects__swiper-slide-6 {
		background: url(../img/partners-1024-6.png);
	}

	.projects__swiper-slide-7 {
		background: url(../img/partners-1024-7.png);
	}

	.projects__swiper-slide-8 {
		background: url(../img/partners-1024-8.png);
	}

	.projects__swiper-slide-9 {
		background: url(../img/partners-1024-9.png);
	}

	.projects__swiper-slide {
		background-position: center;
		background-repeat: no-repeat;
	}

	.location__form {
		flex-wrap: wrap;
	}

	.location__right-links {
		margin-bottom: 21px;
	}

	.footer {
		padding: 40px 0;
	}

	.footer__logo {
		transform: translate(0px, 10px)
	}

	.footer__logo::after {
		bottom: 15px;
	}

	.footer__item-link svg {
		width: 60px;
		height: 60px;
	}

	.footer__item:not(:last-child) {
		margin-right: 30px
	}

	.flex {
		display: flex;
	}

	.hide {
		display: none;
	}

	.active {
		display: block;
	}

}

@media (max-width: 962px) {
	
	.header__container {
		padding-top: 29px
	}

	.tablet-form-btn svg {
		width: 27px;
		height: 27px;
	}

	.hero__title {
		margin-bottom: 11px
	}

	.gallery {
		padding-bottom: 78px;
	}

	.gallery__container {
		flex-direction: column;
	}

	.gallery__choices {
		margin-bottom: 40px
	}

	.gallery__left {
		max-width: 42%;
		margin-bottom: 15px;
		margin-right: 0;
	}

	.catalogue {
		padding-bottom: 70px
	}

	.catalogue__tabs {
		flex-direction: column-reverse;
	}

	.accordion__list {
		width: 100%;
		margin-bottom: 50px
	}

	.accordion__content-list {
		column-count: 3;
		padding-bottom: 33px
	}

	.catalogue__descr {
		margin-bottom: 20px
	}

	.catalogue__people {
		margin-right: 0;
		max-width: none;
	}

	.empty-people {
		width: 100%;
	}

	.catalogue__people-desc {
		padding-left: 2px
	}

	.people-description {
		margin-bottom: 7px
	}

	.events {
		margin-bottom: 80px
	}


	.events__card-pad {
		padding-left: 37px;
    	padding-right: 19px;
	}

	.ev_crd-pad {
		margin-bottom: 5px
	}

	.events__card-info {
		min-height: 368px;
	}

	.events__swiper-pagination.swiper-pagination {
		bottom: -3px;
	}

	.swiper-events {
		padding-bottom: 40px
	}

	.project__partners-title {
		margin-bottom: 28px
	}

	.projects__descr {
		margin-bottom: 28px
	}

	.projects__swiper-slide {
		height: 108px;
	}

	.location__form {
		flex-wrap: wrap;
		flex-direction: row;
	}

	.location__form-input {
		min-width: 324px;
		margin-right: 0
	}

	.location__form-info:first-child {
		margin-right: 20px
	}

	.location__form-btn {
		width: 100%;
		min-width: 0;
		max-width: 316px;
	}

	.location__center {
		margin-right: 0
	}

}

/*	< 762
	.just-validate-error-label {
		top: -13px;
		font-size: 12px
	}*/

