@media (max-width: 1600px) {

	.accordion__content-list {
		margin: 0;
		column-count: 2;
	}

	.events__swiper-prev,
	.events__swiper-next {
		display: none;
	}

	.events__swiper-pagination.swiper-pagination {
		display:  block;
	}

	.location__container {
		flex-direction: column;
	}

	.location__left {
		margin-bottom: 21px;
	}

	.location__center {
		margin-bottom: 45px
	}

	.about__descr {
		max-width: none;
	}

	.catalogue__descr {
		max-width: none;
	}

	.projects__descr {
		max-width: none;
	}

}

@media (max-width: 1200px) {

	.header__container {
		justify-content: space-between;
	}

	.header__logo {
		margin: 0;
	}

	.header__row {
		flex-direction: column;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background: rgb(0,0,0, .9);
		z-index: 1;
		padding: 77px 50px 51px 48px;
		/*transform: translateY(-101%);*/
		display: none;
	}

	.header__list {
		flex-direction: column;
		margin-bottom: 50px
	}

	.header__enter {
		margin-left: inherit;
	}

	.header__link {
		font-weight: 600;
		font-size: 24px;
		line-height: 64px;
	}

	.header__btn {
		border: 2px solid #9D5CD0;
		border-radius: 100px;
		width: 257px;
		height: 60px;
		align-items: center;
		justify-content: center;
	}

	.burger {
		display: block;
	}

	.header__neck {
		display: none;
	}

	.header__search {
		display: block;
	}

	.hide {
		display: none;
	}

	.active {
		display: block;
	}

	.header__wrapper {
		overflow-y: auto;
		flex-direction: column;
		align-items: flex-start;
	}

	.flex {
		display: flex;
	}


}

